body {
    background-image: url("./components/siteBG.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

#latest_article1, #latest_article2, #bio, #article {
    min-height: 200px;
    max-height: 230px;
    border-style: groove;
    border-width: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: azure;
    opacity: 0.8;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;  
}


#bio-image {
    width: 350px;
    height: 275px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#more {
    position: absolute;
    left: 45%;
    bottom: 50%;
    animation-name: fadeOut;
    animation-delay: 0.5s;
}

#more:hover {
    visibility: visible;
    animation-name: fadeIn;
    animation-delay: 0s;
}

#chosen_article {
    border-style: groove;
    border-width: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: azure;
    opacity: 0.8;
}