<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-8 col-push-2">
            <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
                <a class="navbar-brand" href="/index.php">The Den</a>
                <div class="containerg collapse navbar-collapse" id="navbar_links">
                    <ul class="navbar-nav nav-pills px-mr-3">
                        <li class="nav-item">
                            <a class="nav-link" href="/index.php">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navDropdown" role="button" data-toggle="dropdown">Articles</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/application/views/life_articles.php">Life</a>
                                <a class="dropdown-item" href="/application/views/food_articles.php">Food</a>
                                <a class="dropdown-item" href="/application/views/game_articles.php">Games</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/application/views/about-me.php">About Me</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>