<div class="container">
    <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
        <a class="navbar-brand" href="#">The Den</a>
        <div class="container collapse navbar-collapse" id="navbar_links">
            <ul class="navbar-nav nav-pills px-mr-3">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navDropdown" role="button" data-toggle="dropdown">Articles</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Life</a>
                        <a class="dropdown-item" href="#">Food</a>
                        <a class="dropdown-item" href="#">Games</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Me</a>
                </li>
            </ul>
        </div>
    </nav>
</div>